@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #f6862b;
    --primary-menu: #00c3ff;
    --white: #fff;
    --text-color: #1a1b1e;

    //default layout
    --default-layout-header-height: 95.34px;
    --default-layout-header-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    line-height: 1.42857143;
    text-rendering: optimizeSpeed;
}
